body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar {
  margin-bottom: 20px;
}

.btn-danger {
  margin-right: 20px;
}

@media only screen and (max-width: 600px) {
  .table {
    font-size: 8px;
  }
  .btn {
    padding: 3px;
    font-size: 7px;
  }
  .home_nav_link {
    display: none;
  }
}